@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);


header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

h1 {
  color: White;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight:bold;
}

#slogan {
  text-align: center;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  font-size: 14px;
}

.navbar {
background=grey;
}

nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}

div {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

article {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}

aside {
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}

.form {
  background: blue;
  width: 100px;
  color: white;
  text-align: center;
  margin-left: 120px;
}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 62%;
}

#right {
    background-color: #E55B88;
    border: 1px black solid;
    padding: 20px;
    float: right;
    width: 30%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul {
  text-align: center;
  list-style-type: none;
  font-size: 14px;  
}

footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}