body {
	background-color: #FF3160;
}

h1 {
	color: White;
	text-align: center;
}

#slogan {
	text-align: center;
	font-weight: bold;
	font-style: italic;
}
img.center {
    display: block;
    margin: 0 auto;
}